/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

/* Estilos del contenedor de mensajes */
#message-container {
   border: solid #ccc;
   padding:10px;
   margin-bottom:20px;
   max-height:300px; 
	overflow-y:auto;  
}

.message {
	margin-bottom:10px;
	padding-bottom:5px;	
	border-bottom:1px solid #ccc;
}

.message .name {
  font-weight:bold;	
}

/* Estilos del formulario */
#message-form input,
#message-form textarea {
  width: 100%;
  margin-bottom: 10px;
}